.city{
	height: 28rem;
	width: 100%;
	opacity: 1;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 500ms, font-size 200ms;
	font-family: 'Luckiest Guy', cursive;
}

.city:hover{
	opacity: 0.2;
	font-size: 0px;
}


footer{
	bottom: 0;
	position: relative;
	width: 100%;
	height: 7%;
	background-color: white;
}


.box{
	background-color: white;
	height: 6rem;
	width: 100%;
}

.greet{
	margin-top: 13%;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	-ms-animation: fadein 2s;
	animation: fadein 2s;
	font-family: 'Luckiest Guy', cursive;
}

.greetresp{
	margin-top: 13%;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	-ms-animation: fadein 2s;
	animation: fadein 2s;
	font-family: 'Luckiest Guy', cursive;
	display: none;
}

@media screen and (max-width: 1400px){
	footer{
		height: 20%
	}
}

@keyframes fadein{
	from {opacity: 0;}
	to   {opacity: 1;}
	from {margin-top: 10%;}
	to   {margin-top: 13%;}
}

@-moz-keyframes fadein{
	from {opacity: 0;}
	to   {opacity: 1;}
	from {margin-top: 18%;}
	to   {margin-top: 10%;}
}

@-webkit-keyframes fadein{
	from {opacity: 0;}
	to   {opacity: 1;}
	from {margin-top: 8%;}
	to   {margin-top: 10%;}
}

@-o-keyframes fadein{
	from {opacity: 0;}
	to   {opacity: 1;}
	from {margin-top: 8%;}
	to   {margin-top: 10%;}
}

@-ms-keyframes fadein{
	from {opacity: 0;}
	to   {opacity: 1;}
	from {margin-top: 8%;}
	to   {margin-top: 10%;}
}

@keyframes transition{
	from {opacity: 1;}
	to   {opacity: .2;}
}
